body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}

::placeholder {
    opacity: 0.7;
}

.inputs {
    position: fixed;
    top: 30px;
    left: 50px;
}

.control {
    width: 200px;
    height: 150px;
    padding: 5px 0;
    border-radius: 5px;
    background-color: #38b5ef;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    opacity: 0.8;
}

h2 {
    margin: 0;
    text-align: center;
    text-transform: capitalize;
    color: white;
}

.myInput {
    width: 95px;
    display: block;
    margin: 3px auto;
    border-radius: 5px;
    padding-left: 15px;
    text-align: center;
}

.myButton {
    width: 110px;
    height: 25px;
    margin: 0 auto;
    color: white;
    text-transform: capitalize;
    outline: none;
    border-style: solid none;
    border-color: rgb(36, 145, 247) #000 rgb(6, 138, 215);
    border-radius: 5px;
    background: linear-gradient(rgb(15, 152, 243), rgb(22, 128, 227)) rgb(14, 134, 233);
    transition: 0.2s;
}

.myButton:hover { 
    background: linear-gradient(#00bcf5, #0087f5) #00bcf5; 
}

.myButton:active { 
    background: linear-gradient(#0087f5, #00bcf5) #0087f5; 
}

.calculations {
    position: fixed;
    top: 30px;
    right: 50px;
    width: 200px;
    height: 150px;
    padding: 5px 0;
    border-radius: 5px;
    background-color: #38b5ef;
    opacity: 0.8;
    text-align: center;
}

.calculations h2 {
    margin-top: 15px;
}

.calculations span {
    background-color: white;
    width: 95px;
    height: 18px;
    padding-top: 2px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}